# Site Configuration
locale: "en-US"
title: "clinton wang"
title_separator: "-"
name: "clinton wang"
description: "Personal website"
url: https://clintonjwang.github.io
baseurl: ""
repository: "clintonjwang/clintonjwang.github.io"

# Site Author
author:
  name: ""
  avatar: "profile.jpg"
  googlescholar: "http://scholar.google.com/citations?user=7ICTJmoAAAAJ&hl=en"
  email: "clintonjwang (at) gmail (dot) com"
  linkedin: "clintonjwang"
  soundcloud: "clintonjwang"

# Analytics
analytics:
  provider: "google-universal"
  google:
    tracking_id: "G-RYJT3RCJSZ"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - Capfile
  - config
  - Gemfile
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults for pages
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap

theme: jekyll-theme-minimal