/* ==========================================================================
   MIXINS
   ========================================================================== */

%tab-focus {
  /* Default*/
  outline: thin dotted $warning-color;
  /* Webkit*/
  outline: 5px auto $warning-color;
  outline-offset: -2px;
}

/*
   Breakpoint mixin
   ========================================================================== */

@mixin breakpoint($size) {
  @if $size == $small {
    @media (min-width: $small) {
      @content;
    }
  } @else if $size == $medium {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $size == $medium-wide {
    @media (min-width: $medium-wide) {
      @content;
    }
  } @else if $size == $large {
    @media (min-width: $large) {
      @content;
    }
  } @else if $size == $x-large {
    @media (min-width: $x-large) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}

/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}

/*
   Susy grid replacement mixins (simplified)
   ========================================================================== */

@mixin container {
  max-width: $x-large;
  margin-left: auto;
  margin-right: auto;
}

@mixin full {
  width: 100%;
}

@mixin span($cols) {
  width: 100%;
}

@mixin prefix($space) {
  margin-left: 0;
}

@mixin suffix($space) {
  margin-right: 0;
}


/*
   Bourbon clearfix
   ========================================================================== */

/*
  * Provides an easy way to include a clearfix for containing floats.
  * link http://cssmojo.com/latest_new_clearfix_so_far/
  *
  * example scss - Usage
  *
  * .element {
  *   @include clearfix;
  * }
  *
  * example css - CSS Output
  *
  * .element::after {
  *   clear: both;
  *   content: "";
  *   display: table;
  * }
*/

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}