---
---

/*
 *    Minimal Mistakes Jekyll Theme - Simplified
 *
*/

@import "variables";
@import "mixins";

@import "reset";
@import "base";

@import "masthead";
@import "navigation";
@import "footer";
@import "page";
@import "sidebar";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

// Custom puzzle styles
@import "puzzles";
